.container-simplebarchart{
    width: 1000px;
    height: 500px;
}
.container-radarchart, .container-linechart, .container-radialbarchart{
    width: 320px;
    height: 320px;
}
.container-radialbarchart{
    position: relative;
}
.container-radarchart{
    background-color: black;
}
.container-linechart{
    background-color: red;
}
.container-graph{
    
}
.recharts-tooltip-item-list li{
    color: black !important;
}