.container-linechart line{
    stroke: transparent;
}
.container-linechart path{
    stroke: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,1));
}
.container-linechart h3{
    color: rgba(255,255,255,0.6);
    position: absolute;
}