.radialbar-textcontainer-percent{
  width: 60px;
  height: 30px;
  margin: 0;
  color: #282D30;
text-align: center;
font-family: Roboto;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 100% */ 
    text-align: center;
}
.radialbar-textcontainer-objectif{
    width: 60px;
    height: 60px;
    margin: 0;
    color: #74798C;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; 
      text-align: center;
}
.radialbar-textcontainer{
  position: absolute;
  width: 187.117px;
  height: 187.117px;
  left: 35.4425px;
  top: 37.9415px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 120px;
}
.radialbar-textcontainer div{
  width: 60px;
  height: 90px;

}
.container-radialbarchart{
  background-color: #FBFBFB;
}
.recharts-radial-bar-background-sector{
  fill: white;
}
.recharts-polar-angle-axis::before {
  content: "";
  background-color: red;
}
.radialbar-container > p{
  margin: 0;
  position: absolute;
  left: 10px;
  top: 10px;
  color: #20253A;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */ 
}