.radialbar-textcontainer-percent{
  width: 60px;
  height: 30px;
  margin: 0;
    text-align: center;
}
.radialbar-textcontainer-objectif{
    width: 60px;
    height: 60px;
    margin: 0;
      text-align: center;
}
.radialbar-textcontainer{
  position: absolute;
  width: 233px;
  height: 233px;
  left: 43.5px;
  top: 43.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 120px;
}
.radialbar-textcontainer div{
  width: 60px;
  height: 90px;

}
.container-radialbarchart{
  background-color: #FBFBFB;
}
.recharts-radial-bar-background-sector{
  fill: white;
}
.recharts-polar-angle-axis::before {
  content: "";
  background-color: red;
}
.radialbar-container > p{
  margin: 0;
  position: absolute;
  left: 10px;
  top: 10px;
}